@charset "utf-8";

/*Left*/
.back{
    float: left;
    width: 58px;
    height: 62px;
    background: url("../images/4-3-left.png") 20px 11px no-repeat;
}

/*Right*/
.question{
    float: right;
    width: 66px;
    height: 62px;
    background: url("../images/close.png") 0 12px no-repeat;
}
/*H1*/
