@charset "utf-8";

/*Left*/
.back{
    float: left;
    width: 58px;
    height: 62px;
    background: url("../images/4-3-left.png") 20px 11px no-repeat;
}

/*Right*/
.question{
    float: right;
    width: 66px;
    height: 62px;
    background: url("../images/close.png") 0 12px no-repeat;
}

/*js4-4-1*/
.main{
    padding-bottom: 65%;
    background: #29bde0;
    overflow: hidden;
}
.main>img{
    float: right;
}
.js4-4-1{
    margin: 10% auto 9%;
    width: 50%;
    text-align: center;
}
/*js4-4-1游戏过程日志*/
ul.game{
    margin-bottom: 10%;
}
ul.game li{
    font-size: 2.8rem;
    line-height: 4rem;
    color: white;
    text-align: center;
}
/*Footer*/
.footer-js4-4{
    text-align: center;
}
.footer-js4-4 p{
    margin: auto;
    width: 65%;
    font-size: 3.4rem;
    line-height: 6rem;
    color: white;
    background: #24a7c6;
}
.footer button{
    margin-top: 0;
}