@charset "utf-8";


/*对话框样式设置*/
.hint{
    position: relative;
    padding: 27px 70px 27px 47px;
    font-size: 2.6rem;
    line-height: 2.6rem;
    background: #b9e9f5;
}
.hint button{
    position: absolute;
    right: 18px;
    top: 15px;
    width: 52px;
    height: 52px;
    border: 0;
    background: url("../images/6-2-3.png") 0 0 no-repeat;
    background-size: 52px 52px;
    cursor: pointer
}
/*对话框下方三角形*/
.trilateral{
    /*position: relative;*/
    /*left: 70px;*/
    width: 0;
    height: 0;
    border-top: 12px #b9e9f5 solid;
    border-right: 6px transparent solid;
    border-left: 6px transparent solid;
    border-bottom: 6px transparent solid;
}
.hint2{
    position: relative;
    padding-left: 70px;
    padding-bottom: 44px;
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: white;
}

/*内容颜色*/
.wrap{
    background: #29bde0;
}


/*方块图形*/

.game{
    margin-bottom: 188px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.game>li{
    float: left;
    margin: 0 5.5% 3.5% 5.5%;
    width:22%;
    cursor: pointer;
}
/*方框外层*/
.role{
    position: relative;
    border: 5px white solid;
}
/*水民*/
.role .status{
    padding: 30% 0 46% 0;
    font-size: 3rem;
    line-height: 3rem;
    background: #f5c97b;
}
/*序号*/
.role .name{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 2.2rem;
    line-height: 2.7rem;
    color: white;
    background: #83b09a;
}
/*雪碧图*/
.sprite{
    margin-top: 10px;
    opacity: 0;
}
.sprite li{
    float: left;
    width: 23%;
    height: 30px;
    margin-right:2%;
    background: url("../images/sprite.png") 0 0 no-repeat;
    background-size: 400%;
}
.sprite li:nth-child(2){
    background-position:34% 0;
}
.sprite li:nth-child(3){
    background-position:66% 0;
}
.sprite li:nth-child(4){
    margin-right:0;
    background-position:100% 0;
}
