@charset "utf-8";
/*页面头部*/
.header{
    background: #29bde0;
    overflow:hidden;
}

/*Left*/
.back{
    float: left;
    width: 46px;
    height: 62px;
    background: url("../images/back.png") 20px 11px no-repeat;
}

/*Right*/
.question{
    float: right;
    width: 66px;
    height: 62px;
    background: url("../images/js3-right.png") 0 7px no-repeat;
}
/*H1*/
.header h1{
    font-size: 34px;
    line-height: 62px;
    color: white;
    text-align: center;
}