@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "Microsoft YaHei", serif;
}
body{
    margin: auto;
    max-width: 640px;
    min-width: 373px;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
}
.header{
    height: 68px;
    background: #29bde0;
}
.header-left{
    /*CSS Border*/
    display: inline-block;
    position: relative;
    top: 21px;
    left: 22px;
    width: 34px;
    height: 19px;
    border-top: 4px white solid;
    border-bottom:4px white solid ;
    /*图片方法*/
    /*float: left;*/
    /*width: 79px;*/
    /*height: 48px;*/
    /*background: url("images/6-1-1.png") 21px 21px no-repeat;*/
    /*background-size: 34px 27px;*/
}
.header-left div{
    height: 7px;
    border-bottom:4px white solid ;
}
.main{
    background: #f0f0f0;
    padding: 26px 35px 35px 35px ;
}
.main-top{
    position: relative;
    padding: 0 3.8rem;
    font-size: 3.4rem;
    line-height: 3.4rem;
    color: #9a9a9a;
}
/*设置main宽度、边框、居中*/
.main-top,.main-content{
     margin-bottom: 2.5rem;
     background: white;
     border: 1px #c9c9c9 solid;
     text-align: center;
 }
.main-top{
    padding: 4.1rem 3.7rem;
}
.main-top a{
    position: absolute;
    top:0;
    right: 0;
    width: 38px;
    height: 78px;
    /*上次游戏：捉鬼猜词版右侧箭头*/
    background: url("images/6-1-2.png") 0 38px no-repeat;
    background-size: 24px 40px;
}

.content-top{
    padding: 3rem 5.4rem;
    font-size: 3rem;
    line-height: 3rem;
    color: #fbb435;
    border-bottom: 1px #fdd793 solid;
}
.versions{
    position: relative;
    margin: 2.8rem 5.4rem 0 5.4rem;
    padding: 5.1rem 0;
    font-size: 3.2rem;
    line-height: 3.2rem;
    color: white;
    background: #69d1d9;
 }
.users{
    margin: 2.6rem 0;
    font-size: 2.45rem;
    line-height: 2.45rem;
    color: #787878;
}
.versions>a {
    position: absolute;
    bottom: 28%;
    right: -57px;
    width: 4.3rem;
    height: 5.4rem;
    background: url("images/6-1-3.png") 0 0 no-repeat;
    background-size: 28px 55px;
}
.more{
    margin: auto;
    width: 10.8rem;
    overflow: hidden;
}
.more a{
    margin: 0 3px 8px 3px;
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #f0f0f0;
}
.more a:hover{
    background: #69d1d9;
}
@media (min-width: 440px) and (max-width:520px) {
    html{
        font-size: 50%;
    }
    .versions{
        padding: 3rem 0;
    }
    .versions>a{
        bottom: 20%;
    }
}
@media (min-width: 373px ) and (max-width: 440px){
    html{
        font-size: 40%;
    }
    .versions{
        padding: 3rem 0;
    }
    .versions>a{
        bottom: 20%;
    }
}
@media (max-width: 373px){
    html{
        font-size: 40%;
    }
    .versions{
        padding: 3rem 0;
    }
    .versions>a{
        bottom: 20%;
    }
}
