* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "Microsoft YaHei", serif;
}
body{
    margin: auto;
    max-width: 720px;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
}

.header{
    position: relative;
    width: 100%;
    background:#5fc0cd ;
}
.header-back{
    position: absolute;
    top: 27%;
    left:4%;
}
h1{
    text-align: center;
    padding: 3%;
    font-size: 3.5rem;
    color: white;
}
.content{
    width: 100%;
    padding: 10% 0;
    background: url("images/task5-1.png");
    background-size: cover;
    overflow: hidden;
}
.user-img{
    float: left;
    width: 20%;
    margin: 0 0 0 4%;
}
.intro{
    float: left;
    margin: 4% 4% 4% 11%;
}
.name{

    font-size: 3.2rem;
    color: white;
}
.name span{
    font-size: 2.6rem;
    color: white;
}
.address{

    font-size: 2.1rem;
    color: white;
}
.subnav{
    border-bottom: 1px solid #e1e5e7;
}
.subnav p{
    margin: 3.6rem 0 3.6rem 3rem;
    padding: 0 0 0 2.7rem;
    border-left: 5px solid #5ac0ce;
    font-size: 3.2rem;

}
.list{
    margin: 0 0 10rem 3rem;

}
.list li{
    padding: 3.6rem 0 3.6rem ;
    border-bottom: 1px solid #e1e5e7;
}
.list img{
    margin:0 1rem 0 0;
}
.list span{
    padding-left: 3%;
    font-size: 2.9rem;
}
.list1{
    margin: 3.6rem 0 3.6rem 2.2rem;
    padding: 0 0 0 1.8rem;
    border-left: 1px solid #e1e5e7;
}

.sidebar{
    padding-right: 2.2rem;
    vertical-align: middle;
    color: #999999;
    border-right: 1px solid #e1e5e7;
}
.list p{
     display: inline-block;
     width: 57%;
     vertical-align: middle;
     padding: 0 0 0 1.8rem;
     font-size: 2.9rem;

 }
.pay{
    color: #e26163;
}
.footer{
    overflow: hidden;
    margin: 5%;
}
.button1{
    float: left;
    width: 48%;
    height: 8.4rem;
    font-size: 3rem;
    background: white;
    color: #5fc0cd;
    border: 2px solid #5fc0cd;
    border-radius: 1rem;
}
.button2{
    float: right;
    width:48%;
    height: 8.4rem;
    font-size: 3rem;
    background:#5fc0cd;
    border: 2px solid #5fc0cd;
    color: white;
    border-radius: 1rem;
}
@media (min-width:450px) and (max-width: 650px){
    html{
        font-size: 50%;
    }
}
@media (min-width:320px) and (max-width: 450px){
    html{
        font-size: 40%;
    }
}