/*全局设置*/
*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: "Microsoft YaHei", serif;
}
.wrap{
    margin: auto;
    max-width:720px ;
    min-width: 320px;
    width: 100%;

}
img {
    max-width: 100%;
}
ul {
    list-style: none;
}
a{text-decoration:none}
.header{
    padding-top: 1rem;
    width: 100%;
    height: 7.8rem;
    background: #5fc0cd;
}
.header-img{
    float: right;
    margin: 2% 4% 0 0;

}

/*heading 按钮效果*/

.nav{
    margin: auto;
    width: 38%;
    min-width: 170px;
    height: 7rem;
    font-size: 3rem;
    line-height: 3rem;
    background: #55a8b3;
    border-radius: 1rem;
}

.nav a,.nav-left,.nav-right{
    float: left;
    border-radius: 1rem;
}
.nav a{width: 50%}
.nav-left,.nav-right{
    width:100%;
    padding: 2rem 0 2rem 0;
    text-align: center;
}
.nav-left{
    color: white;
}
.nav-right {  color: #58c0cd;  background: white ;}

.nav-left:hover,.nav-right:hover {  color: #58c0cd;  background: white ;}
/*列表导航栏*/
.nav2 ul{
    width:100%;
    font-size: 2.65rem;
    overflow: hidden;
}
.nav2 ul li{
    margin: 2.67rem 0 2.675rem 0;
    float: left;
    width: 33.33%;
    text-align: center;
    border-right:1px solid #e1e5e7 ;
    box-sizing: border-box;
}
.nav2 ul li:nth-child(3){
    border: none;
}
.nav2 li div{
    float: right;
    margin-right: 1.25rem;
}
.main{
    width: 100%;
    margin-bottom: 10rem;

}
/*外层列表*/

.list1{
    width: 100%;

}
/*上下边框线*/

.list1>li{
    padding: 3rem 0 3rem 0;
    border-top:1px solid #e1e5e7 ;
    border-bottom: 1px solid #e1e5e7;
}
/*内层列表*/
.list2{
    font-size: 2.3rem;
    color: #999999;
}
.list2 li:nth-child(1) div{
    float: left;
}
.list2 div:nth-child(1) img{
    margin-left: 3rem;
    margin-right: 1.4rem;
    vertical-align: middle;
}
/*日期左对齐效果*/
.list2 li:nth-child(2){
    margin-left: 6.9rem;
    color: black;
}
/*!*工资文字*!*/
.list2 li:nth-child(2) div
{
    float: right;
    margin-right: 3rem;
    color:red;
}
.list2 div:nth-child(2) img{
    margin-right: 3rem;
    margin-left: 2.05rem;
    vertical-align: middle;
}
.list2 li:nth-child(3) div{
    float:left;
}
.list2 li:nth-child(3) img{
    margin-left: 3rem;
    margin-right: 2rem;
    vertical-align: middle;
}
/*底部按钮*/
.nav-bottom{
    position: fixed;
    bottom: 0;
    float: left;
    width: 100%;
    max-width: 720px;
    min-width: 320px;
    height: 100px;
    font-size: 1.9rem;
    color: #5fc0cd;
    border-top: 1px solid #e1e5e7;
    background: white;
}
/*设置底部按钮布局宽度*/
.nav-bottom ul,.nav-bottom li{
    width: 100%;
    float: left;
}
.nav-bottom li:nth-child(1){
    width: 30%;
}
.nav-bottom li:nth-child(2){
    width: 40%;
}
.nav-bottom li:nth-child(3){
    width: 30%;
}
.nav-bottom li:nth-child(1) div{
    margin-top: 8%;
    float: right;
}
.nav-bottom li:nth-child(1) p{
    margin: 0 0 0 10%;
}
.nav-bottom li:nth-child(2) div{
    /*margin: 1% 36% 0 31%;*/
    text-align: center;
}
.nav-bottom li:nth-child(3) div{
    margin-top: 8%;
    float: left;
}
.nav-bottom li:nth-child(3) p{
    margin: 0 0 0 5% ;
}

@media  (max-width: 650px){
    html{
    font-size: 50%}
}
