@charset "utf-8";
.header {
  position: fixed;
  max-width: 640px;
  min-width: 320px;
  width: 100%;
  background: #29292c;
  color: white;
}
.header a {
  display: inline-block;
  cursor: pointer;
}
.header a.left {
  float: left;
  margin-top: 25px;
  margin-left: 16px;
  padding-left: 32px;
  width: 84px;
  height: 36px;
  font-size: 2.6rem;
  line-height: 3.6rem;
  background: url("../images/top_back.png") 0 0 no-repeat;
  box-sizing: border-box;
}
.header a.right {
  float: right;
  margin-top: 40px;
  margin-right: 16px;
  width: 84px;
  height: 36px;
  background: url("../images/menu.png") 46px 0 no-repeat;
}
.header h1 {
  font-size: 3.4rem;
  line-height: 8.8rem;
  text-align: center;
  font-weight: normal;
}
.main {
  margin-top: 8.8rem;
  padding: 3.1% 2.6% 31% 2.6%;
  color: white;
  background: #68cdd5;
}
.main > ul > li:first-child {
  padding-left: 17px;
}
.main > ul > li:nth-child(2) {
  margin-top: 6.5%;
  margin-bottom: 15%;
  text-align: center;
}
.main > ul > li:nth-child(3) p {
  margin: 0 12.8% 25% 12.8% ;
  max-width: 70%;
  font-size: 3rem;
  line-height: 5.4rem;
  font-weight: lighter;
}
.main > ul > li:nth-child(n+4) {
  float: left;
  width: 50%;
}
.main > ul > li:nth-child(n+4) ul li {
  text-align: center;
  font-size: 2.4rem;
  line-height: 5.4rem;
}
